body {
  background: #239991;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border-style: outset;
}

#calc {
  margin: 30px 25% 0px 25%;
  border-width: 2px;
  border-style: outset;
  background-color: #c6c6c6;
}

#calcTitle {
  background-color: #000099;
  color: #FFFFFF; 
  font-weight: bold;
}

#calcBod {
  background-color: #c6c6c6;
  padding: 10px 10px 10px 10px;
}

#output {
  text-align: center;

}